/*---------------------------------------------------------------------------
   Order Screen
---------------------------------------------------------------------------*/

.order-screen {
    // display: flex;
    // flex-direction: column;
}

.order-page {
    display: flex;
    margin-top: 50px;
}

.columns {
    display: flex;
    flex-direction: column;
    margin: 75px;
}

.textSearchField {
    width: 400px;
}

.orderForm {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
