.order-page {
    display: flex;
    flex-direction: column;
}

.orderForm {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.orders {
    // display: grid;
    // max-height: 200px;
    // grid-template-columns: repeat(auto-fill, 250px);
    // column-gap: toRem(20px);
    // row-gap: toRem(20px);
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // align-content: flex-start;
    // max-height: 180vh;
    // width: 100%;
}
