.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.orderForm {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.textField {
  margin: 20px;
  padding: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
}


.order {
  display: flex;
  flex-direction: column;
  //.order__item
  &__item {
    display: flex;
  }
  //.order__name
  &__name {
    font-weight: bold;
  }
}