/*---------------------------------------------------------------------------
   App
---------------------------------------------------------------------------*/

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    //.App__title
    &__title {
        font-size: 25px;
    }
}
